%h1 Услуга
.container
  %table.card
    %tr
      %th Адрес:
      %td= @flat.address
    %tr
      %th Плательщик:
      %td= @flat.payer_shortname
    %tr
      %th Категория:
      %td= @utility.category.name
    %tr
      %th Тариф описание:
      %td= @utility.tariff.name
    %tr
      %th Тариф значение:
      %td= @utility.tariff.value
    - if @utility.category.is_counter
      %tr
        %th Описание счетчика:
        %td= @utility.description_counter
      %tr
        %th Начальные показания:
        %td= @utility.start_value_counter
      %tr
        %th Последние показания:
        %td= @utility.last_value_counter
    - else
      %tr
        %th Количество:
        %td= @utility.quantity
      %tr
        %th Платеж:
        %td= @utility.payment

  %br

  .actions
    = link_to 'Услуги', flat_utilities_path
    = link_to 'Изменить', edit_flat_utility_path
    = link_to 'Удалить', utilities_path(@utility), method: :delete, data: { confirm: "Do you ready to delete utility?"}
    = link_to 'Жилье', flats_path 
