%h1 Услуга
.content
  %table.card
    %tr
      %th Адрес:
      %td= @flat.address
    %tr
      %th Плательщик
      %td= @flat.payer_shortname
    %tr
      %th Категория:
      %td= @utility.category.name
    %tr
      %th Тариф:
      %td= @utility.tariff.name
    - if @utility.category.is_counter
      %tr
        %th Описание счетчика:
        %td= @utility.description_counter
      %tr
        %th Начальные показания:
        %td= @utility.start_value_counter
    - else
      %tr
        %th Платеж:
        %td= @utility.payment

  %br

  .actions
    = link_to 'Услуги', utilities_path(flat_id: @flat.id)
    = link_to 'Edit', edit_flat_utility_path(flat_id: @flat.id, id: @utility.id)
    = link_to 'Delete', utilities_path(@utility), :method => :delete, :confirm => "Do you ready to delete utility?"
    = link_to 'Back', flats_path 
