%h1= "Жилье пользователя "+current_user.name
.container
  %table
    %thead
      %tr
        %th= "Плательщик"
        %th= "Адрес"
        %th(colspan="3")
  
    %tbody
      - @flats.each do |flat| 
        %tr
          %td= flat.payer_shortname
          %td= flat.address
          %td= link_to 'Просмотр', flat
          %td= link_to 'Изменить', edit_flat_path(flat)
          %td= link_to 'Удалить', flat, method: :delete, data: { confirm: 'Are you sure?' }
          %td= link_to 'Счета', flat_accounts_path(flat)
          %td= link_to 'Услуги', flat_utilities_path(flat)
  
  %br
  
  = link_to 'Новое жилье', new_flat_path
