%h1= "Тарифы"

%table
  %thead
    %tr
      %th= "Категория "
      %th= "Название"
      %th= "Значение"
      %th= "Единица измерения"
      %th= "Введен с"
      %th(colspan="3")

  %tbody
    - @tariffs.each do |tariff| 
      %tr
        %td= tariff.category.name
        %td= tariff.name 
        %td= tariff.value 
        %td= tariff.category.unit
        %td= tariff.start_date
        %td= link_to 'Show', tariff
        %td= link_to 'Edit', edit_tariff_path(tariff)
        %td= link_to 'Destroy', tariff, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Новый тариф', new_tariff_path
